
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, #__next{
  font-family: 'helvetica';
  background-color: #FCF5EC;
  scroll-behavior: smooth;
}

img {
  width: auto;
  height: auto;
}


@media (max-width: 767px) {
  body, #__next {
    min-width: 375px;
  } 
}

.about-info{
  animation: fadein 1s linear ;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -3s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.my-info {
  animation: fadein 8s linear ;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@media (min-width: 768px){
   @keyframes fadein {
       from {
           opacity: 1;
       }to {
           opacity: 0;
       }
   }
}

