
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, #__next{
  font-family: 'Heebo';
  background-color: #FCF5EC;
  scroll-behavior: smooth;
}

img {
  width: auto;
  height: auto;
}

@media (max-width: 767px) {
  body, #__next {
    min-width: 375px;
  }
}
